<?xml version="1.0"?>
<!--
/**
 * Cookie Consent Module
 *
 * @author    Peter McWilliams <pmcwilliams@augustash.com>
 * @copyright Copyright (c) 2020 August Ash (https://www.augustash.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <cookie_consent>
            <general>
                <enabled>0</enabled>
                <use_transition>1</use_transition>
                <position>bottom</position>
                <layout>block</layout>
                <compliance_type>info</compliance_type>
            </general>
            <custom_text>
                <message>This website uses cookies to ensure you get the best experience on our website.</message>
                <button_text>Got it!</button_text>
                <include_link>0</include_link>
                <link_text>Learn more</link_text>
            </custom_text>
            <cookie>
                <name>cookieconsent_status</name>
                <path>/</path>
                <expiry>365</expiry>
                <secure>false</secure>
            </cookie>
            <theme>
                <banner_color>#252e39</banner_color>
                <banner_text_color>#ffffff</banner_text_color>
                <button_color>#14a7d0</button_color>
                <button_text_color>#ffffff</button_text_color>
            </theme>
        </cookie_consent>
    </default>
</config>
