<?xml version="1.0"?>
<!--
/**
 * Cookie Consent Module
 *
 * @author    Peter McWilliams <pmcwilliams@augustash.com>
 * @copyright Copyright (c) 2020 August Ash (https://www.augustash.com)
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="cookie_consent" translate="label" type="text" sortOrder="105" showInDefault="1" showInWebsite="1" showInStore="1">
            <tab>augustash</tab>
            <resource>Augustash_CookieConsent::config</resource>
            <label>Cookie Consent</label>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="use_transition" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Use Animations</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="position" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Position</label>
                    <source_model>Augustash\CookieConsent\Model\Config\Source\Position</source_model>
                </field>
                <field id="layout" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Layout</label>
                    <source_model>Augustash\CookieConsent\Model\Config\Source\Layout</source_model>
                </field>
            </group>
            <group id="custom_text" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Custom Text</label>
                <field id="message" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Message</label>
                </field>
                <field id="button_text" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Button Text</label>
                </field>
                <field id="include_link" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Include Link</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[If enabled, the message will include a link to https://www.cookiesandyou.com.]]></comment>
                </field>
                <field id="link_text" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Link Text</label>
                    <depends>
                        <field id="cookie_consent/custom_text/include_link">1</field>
                    </depends>
                </field>
            </group>
            <group id="cookie" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Cookie Options</label>
                <field id="name" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Cookie Name</label>
                    <comment><![CDATA[Name of the cookie that keeps track of users choice.]]></comment>
                </field>
                <field id="path" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Cookie Path</label>
                    <comment><![CDATA[URL path that the cookie ‘name’ belongs to. The cookie can only be read at this location.]]></comment>
                </field>
                <field id="domain" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Cookie Domain</label>
                    <comment><![CDATA[The domain that the cookie 'name' belongs to. The cookie can only be read on this domain.]]></comment>
                </field>
                <field id="expiry" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Cookie Expiry Days</label>
                    <comment><![CDATA[The cookies expire date, specified in days (specify -1 for no expiry).]]></comment>
                </field>
                <field id="secure" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Cookie is Secure</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[If secure is true, the cookies will only be allowed over https.]]></comment>
                </field>
            </group>
            <group id="theme" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Theme</label>
                <field id="banner_color" translate="label" sortOrder="20" type="text" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Banner Color</label>
                    <frontend_model>Augustash\CookieConsent\Block\Adminhtml\System\Config\Color</frontend_model>
                </field>
                <field id="banner_text_color" translate="label" sortOrder="30" type="text" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Banner Text Color</label>
                    <frontend_model>Augustash\CookieConsent\Block\Adminhtml\System\Config\Color</frontend_model>
                </field>
                <field id="button_color" translate="label" sortOrder="40" type="text" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Button Color</label>
                    <frontend_model>Augustash\CookieConsent\Block\Adminhtml\System\Config\Color</frontend_model>
                </field>
                <field id="button_text_color" translate="label" sortOrder="50" type="text" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Button Text Color</label>
                    <frontend_model>Augustash\CookieConsent\Block\Adminhtml\System\Config\Color</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
